{{hot-key key="s" meta=true}}
{{hot-key key="s" ctrl=true}}

<div class='cirrius-full'>
	{{!-- <div class='cirrius-menu'>
		<div class='cirrius-menu-logo'></div>
		<div class="cirrius-menu-links">
			<div class='cirrius-menu-links-link' {{action 'route' 'index'}}>
				<div class='button-menu'>
					<i class="icon-large-white-pages"></i>
				</div>
				<div>Projects</div>
			</div>
			<div class='cirrius-menu-links-link' {{action 'route' 'analytics'}}>
				<div class='button-menu'>
					<i class="icon-large-white-analytics"></i>
				</div>
				<div>Analytics</div>
			</div>
			<div class='cirrius-menu-links-link' {{action 'route' 'settings'}}>
				<div class='button-menu'>
					<i class="icon-large-white-settings"></i>
				</div>
				<div>Settings</div>
			</div>
			<div class='cirrius-menu-links-link' {{action 'route' 'logout'}}>
				<div class='button-menu'>
					<i class="icon-large-white-logout"></i>
				</div>
				<div>Logout</div>
			</div>
		</div>
	</div> --}}
	<div class='cirrius-main'>
		{{outlet}}
	</div>
</div>