<a{{action (route 'index')}}>
	Projects
</a>

<i> &#xE409;</i>

<a{{action (route 'project')}}>
	{{model.fullname}}
</a>

{{#if (eq domain.route 'project.analytics')}}
	<i>&#xE409;</i>
	<a{{action (route 'analytics')}}> Analytics </a>
{{/if}}

{{#if (eq domain.route 'project.settings')}}
	<i>&#xE409;</i>
	<a{{action (route 'settings')}}> Settings </a>
{{/if}}

{{#if (inside domain.route 'project.requests')}}
	<i>&#xE409;</i>
	<a{{action (route 'requests')}}> Console </a>
{{/if}}

{{#if request.model}}
	<i>&#xE409;</i> {{request.model.id}}
{{/if}}

{{#if file.model}}
	<i>&#xE409;</i>
	{{#each (split '/' file.model.path) as |dir key|}}
		{{#if (ne key 0)}}<slash>/</slash>{{/if}} {{dir}}
	{{/each}}
{{/if}}
