<a {{action (route 'index')}}>Projects</a>

{{#if (eq domain.route 'index')}}
	<a {{action 'create'}}><i class='add'>&#xE03B;</i></a>
{{/if}}

{{#if (begs-with domain.route 'project')}}
	<i>&#xE409;</i>
	<a {{action (route 'project')}}>{{model.fullname}}</a>
{{/if}}

{{#if (begs-with domain.route 'project.analytics')}}
	<i>&#xE409;</i>
	<a {{action (route 'analytics')}}>Analytics</a>
{{/if}}

{{#if (begs-with domain.route 'project.settings')}}
	<i>&#xE409;</i>
	<a {{action (route 'settings')}}>Settings</a>
{{/if}}

{{#if (begs-with domain.route 'project.releases')}}
	<i>&#xE409;</i>
	<a {{action (route 'releases')}}>Releases</a>
{{/if}}

{{#if (begs-with domain.route 'project.requests')}}
	<i>&#xE409;</i>
	<a {{action (route 'requests')}}>Requests</a>
{{/if}}

{{#if request.model}}
	<i>&#xE409;</i>
	<a {{action (route 'request')}}>{{request.model.id}}</a>
{{/if}}

{{#if file.model}}
	<i>&#xE409;</i>
	{{#each (split '/' file.model.path) as |dir key|}}
		{{#if (ne key 0)}}<slash>/</slash>{{/if}} <a>{{dir}}</a>
	{{/each}}
{{/if}}
