<div class="cirrius-section-auth">

    <table class="full"><tr valign="middle"><td>

	    <div class="cirrius-section-auth-box">

	    	{{#if complete}}

                <span class="font18">An email has been sent to {{storage.email}}</span>

                <break></break>
                <break></break>

                <a class="font12" {{action (route 'login')}}>Login to my account</a>

            {{else}}

	            {{input-email value=storage.email placeholder="Email" return="submit"}}

				<break></break>
				<break></break>
				<break></break>

				<div class="left width-29">
					<a class="button button-grey right" {{action (route 'login')}}>Back</a>
				</div>

				<div class="right width-69">
					<a class="button right {{if loading 'disabled'}}" {{action 'submit'}}>
                        {{#if loading}}Please wait...{{else}}Reset my password{{/if}}
                    </a>
				</div>

    		{{/if}}

    		<clear></clear>

	    </div>

    </td></tr></table>

	<div class="cirrius-section-auth-footer">

        {{partial 'login/footer'}}

	</div>

</div>