{{!-- Index Page: Projects<br><br>

<form class="fileNameInput">
	{{input type="text" value=fileName class="fileNameInput" placeholder="Enter a file name..." autofocus="autofocus"}}
</form>

<div class="OnlinePlatforms-system-sub-list scrollable">

        <div class="OnlinePlatforms-system-sub-separator">Cirrius</div>

        <div class="OnlinePlatforms-system-sub-item" {{action 'route' 'crm'}}>
            Projects
        </div>

        <div class="OnlinePlatforms-system-sub-item" {{action 'route' 'forms'}}>
            Project 1
        </div>

        <div class="OnlinePlatforms-system-sub-item" {{action 'route' 'forms'}}>
            Project 2
        </div>

</div> --}}

<div class="OnlinePlatforms-columns">

	<div class="OnlinePlatforms-column OnlinePlatforms-column-coder">

		{{!-- <div class="OnlinePlatforms-header"> --}}

			<div class="button-plus" {{action 'create'}} tipdir="sw" tipcontent="Create a new script">
				<i class="icon-small-colour-add"></i>
			</div>
			
			<div class="button-menu" {{action 'submenu'}}>fcghvbjkknlm</div>

            {{!-- {{format-integer model.length}} {{format-word model.length 'Script'}} --}}

            {{!-- {{#if search}}
				<span {{action 'clear'}}>
					- showing {{format-integer arrangedContent.length}}
				</span>
			{{/if}} --}}

		{{!-- </div> --}}

		{{!-- {{#list-size as |w h|}}
			{{list-view 
				w=w h=h 
				content=arrangedContent 
				total=arrangedContent.length 
				colWidth=0 
				rowHeight=32 
				on='click' 
				classNames='coder' 
				itemName='scripts/list' 
				onclick=(action 'route' 'script') 
				onrmenu=(action 'rmenu' 'scripts/menu') 
				onselect=(action 'select') 
				selection=selection
			}}
		{{/list-size}} --}}

		<div class="OnlinePlatforms-footer OnlinePlatforms-footer-transparent">

			{{!-- {{input-camo value=search placeholder="Quickly search for a script ..."}} --}}

		</div>

	</div>

	<div class="OnlinePlatforms-column OnlinePlatforms-column-coder">

		{{!-- {{outlet}} --}}

	</div>

</div>