<div class='top-bar'>
	<div class='top-bar-text'>
		{{partial 'breadcrumb'}}
		<div class='search'>
			{{input-text placeholder='Search' onchange=(action (mut search))}}
		</div>
	</div>
</div>
<div class='cirrius-main cirrius-main-sec'>
	<div class='cirrius-main-projects'>
		{{#if model.length}}
			{{#each (sort-by "name" "uuid" (search-by "name" "uuid" search model)) as |project|}}
				<div class='cirrius-main-projects-project' {{action (route 'project' project)}}>
					<div class='title'>
						{{#link-to 'settings' project  class='right'}}
							<i>&#xE8B8;</i>
						{{/link-to}}
						{{#link-to 'analytics' project  class='right'}}
							<i>&#xE6E1;</i>
						{{/link-to}}
						<div class='long'>
					        {{#if project.name}}
								{{#link-to 'project' project}}{{project.name}}{{/link-to}}
							{{else}}
								{{#link-to 'project' project}}{{project.uuid}}{{/link-to}}
							{{/if}}
						</div>
				    </div>
				</div>
			{{/each}}
		{{else}}
			<div class='cirrius-main-big-sec-content-placeholder'>
				<big> Hi there, welcome to Cirrius.<br></big>
				It looks like you don't have any projects yet.
				<br>
				To get started, click one of the links below.
				<br>
				<br>
				<a {{action 'createProject'}}>Create a new project</a>
				&nbsp;|&nbsp;
				<a {{action (route 'docs' docs)}}>View the documentation</a>
			</div>
		{{/if}}
	</div>
</div>
