{{!-- <div class='cirrius-main-login'>
    <div class='login'>Login</div>
</div> --}}

<div class="cirrius-section-auth">

    <table class="full"><tr valign="middle"><td>

        <div class="cirrius-section-auth-box">

            {{input-email value=storage.email placeholder="Email" return="submit"}}

            <break></break>

            {{input-password value=pass placeholder="Password" return="submit"}}

            <break></break>
            <break></break>
            <break></break>


            <a class="button {{if loading 'disabled'}}" {{action 'submit'}}>
                {{#if loading}}Please wait...{{else}}Login{{/if}}
            </a>

            <clear></clear>
            <break></break>
            <break></break>

            <a class="font-12" {{action (route 'register')}}>Don't have an account? Create one now.</a>

        </div>

    </td></tr></table>

    <div class="cirrius-section-auth-footer">

        {{partial 'login/footer'}}

    </div>

</div>