{{hot-key key="n" ctrl=true onpress=(action 'create')}}

<div class='top-bar'>
	<div class='top-bar-text'>
		{{partial 'breadcrumb'}}
	</div>
</div>
<div class='cirrius-main cirrius-main-sec'>
	<div class='cirrius-main-list-sec'>
		<div class='cirrius-main-list-sec-bar'>
			<div class='icon'>
				<a {{action 'create'}}><i>&#xE145;</i></a>
			</div>
			<div class='cirrius-main-bars-text'>
				<i>&#xE8B6;</i>
				{{input-text onchange=(action (mut search)) placeholder="Search"}}
			</div>
		</div>
		<div class='cirrius-main-list-sec-list'>
			<div class='cirrius-main-list-sec-list-title'>Main</div>
			<div class='cirrius-main-list-sec-list-item' {{action (route 'analytics')}}>
				<i>&#xE6E1;</i>
				Analytics
			</div>
			<div class='cirrius-main-list-sec-list-item' {{action (route 'settings')}}>
				<i>&#xE8B8;</i>
				Settings
			</div>
			<div class='cirrius-main-list-sec-list-item' {{action (route 'releases')}}>
				<i>&#xE2BF;</i>
				Releases
			</div>
			<div class='cirrius-main-list-sec-list-item' {{action (route 'requests')}}>
				<i>&#xE8D4;</i>
				Requests
			</div>
			{{#if model.files}}
				<div class='cirrius-main-list-sec-list-title'>Files</div>
				{{tree-view uid=model.id files=(search-by "path" search model.files) path="path" onselect=(route 'file')}}
			{{/if}}
		</div>
	</div>
	<div class='cirrius-main-big-sec'>
		{{outlet}}
	</div>
</div>
