<div class='cirrius-main-bar'>
	<div class='cirrius-main-bars-text'>
		Settings
	</div>
</div>

<div class='cirrius-main-big-sec-content'>
	<div class='cirrius-main-settings'>
		<div class='element'>
			<span class='element-title'>Project name</span>
			<br><br>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Nam rhoncus at diam in dignissim. Proin pharetra sagittis lacus a tempus.
			Nulla sed nibh fermentum, porta enim a, finibus augue.
			Vestibulum tristique pharetra ultricies. Nulla augue lorem, interdum
			in felis non, placerat commodo odio.
			<br><br>
			{{input value=model.name placeholder='Project name' maxlength=50 onchange=(action (mut model.name))}}
		</div>
		<div class='element'>
			<span class='element-title'>Domains</span>
			<br><br>

			<div class="input-append">
				{{input-url value=newdomain placeholder='Domain name...' onchange=(action (mut newdomain))}}
				<div class='input-append-element'>
					<a {{action 'createDomain'}}><i>&#xE145;</i></a>
				</div>
			</div>

			<br><br>
			{{#each (sort-by "name" model.domains) as |domain|}}
				<div class="input-append">
					{{input value=domain.name disabled=true}}
					<div class='input-append-element'>
						<a{{action 'deleteDomain' domain}}><i class='color-red'>&#xE872;</i></a>
					</div>
					<div class='element-spacing'></div>
				</div>
			{{/each}}
		</div>

		<div class='element'>
			<span class='element-title'>Stages</span>
			<br><br>
			<div class="input-append">
				{{input-text value=newstage filter='[a-z]' maxlength=10 placeholder='Stage name...' onchange=(action (mut newstage))}}
				<div class='input-append-element'>
					<a {{action 'createStage'}}><i>&#xE145;</i></a>
				</div>
			</div>
			<br><br>
			{{#each (sort-by "type" model.stages) as |stage|}}
				<div class="input-append">
					{{input value=stage.type disabled=true}}
					<div class='input-append-element'>
						<a{{action 'deleteStage' stage}}><i class='color-red'>&#xE872;</i></a>
					</div>
					<div class='element-spacing'></div>
				</div>
			{{/each}}
		</div>

	</div>
</div>
