{{#each-in tree.fo as |folder subtree|}}

    <div class='cirrius-main-list-sec-list-item' {{action (toggle (concat "project" "-" uid "-" "folder" "-" folder) storage)}}>
        <i>&#xE2C8;</i>
        {{folder}}
    </div>

    {{#if (get storage (concat "project" "-" uid "-" "folder" "-" folder))}}
        {{tree-view-list tree=subtree uid=attrs.uid onselect=attrs.onselect}}
    {{/if}}

{{/each-in}}

{{#each-in tree.fi as |path file|}}
    <div class='cirrius-main-list-sec-list-item' {{action "file" file}}>
        <span class='spaces'>{{path}}</span>
    </div>
{{/each-in}}
