<div class='cirrius-main-bar'>
	<a class='icon' {{action (route 'releases.new' model)}}>
		<i>&#xE145;</i>
	</a>
	<div class='cirrius-main-bars-text'>
		Releases
	</div>
</div>

<div class='cirrius-main-big-sec-content'>
	<div class='cirrius-main-items'>
		{{#each model.releases as |release|}}
			<div class='item' {{action (route 'release' release)}}>
				<div class='col col-release-icon'><i>&#xE2BF;</i></div>
				<div class='col col-release-name'>{{release.name}}</div>
				<div class='col col-release-info'>{{release.info}}</div>
				<div class='col col-release-time'>{{release.time}}</div>
			</div>
		{{/each}}
	</div>
</div>
