<div class='cirrius-main-bar'>
	<div class='cirrius-main-bars-text'>
		Console
	</div>
</div>

<div class='cirrius-main-big-sec-content'>
	<div class='cirrius-main-requests'>
		{{#each model as |request|}}
			<div class='request' {{action (route 'request' request)}}>
				<span class='item'>{{request.time}}</span>
				{{#if (gte request.status 500)}}
					<span class='item s500'>{{request.status}}</span>
				{{elseif (gte request.status 400)}}
					<span class='item s400'>{{request.status}}</span>
				{{elseif (gte request.status 200)}}
					<span class='item s200'>{{request.status}}</span>
				{{else}}
					<span class='item'>{{request.status}}</span>
				{{/if}}
				<span class='item'>{{request.method}}</span>
				<span class='item'>{{bytes request.size}}</span>
				<span class='item'>{{request.url}}</span>
				<span class='item-right'>{{duration request.duration decimals=2}}</span>
			</div>
		{{/each}}
	</div>
</div>
